Caliga/build
Caliga/caliga
Caliga/caliga.hex
Caliga/mapfile.map
Client/Estelle/build/
Client/Estelle/estelle
Client/Estelle/estelle.hex
Client/Estelle/mapfile.map
Client/build/
Client/agape
Client/agape.hex
Client/agape-merged.hex
Client/mapfile.map
MIDIConverter/MIDIConverter
Stratus/build/
Stratus/cert.pem
Stratus/inviter-secret*
Stratus/key.pem
Stratus/Stratus
Stratus/mongodb-secret*
TerminalSimulator/build/
TerminalSimulator/Programs/
TerminalSimulator/Scenes/
TerminalSimulator/Telegrams/
TerminalSimulator/Worlds/
TerminalSimulator/config-offline.dat
TerminalSimulator/config.dat
TerminalSimulator/kiamafs.dat
TerminalSimulator/Makefile
TerminalSimulator/telegrams.dat
TerminalSimulator/TerminalSimulator
TerminalSimulator/snap-*.png
.qmake.stash
*.s
*.d
*.o
*moc_*.cpp
*moc_*.h
defmplabxtrace.log*
Client/build/
Client/agape
Client/agape.hex
Client/mapfile.map
Client/*.s
Client/nbproject/private
Client/Estelle/nbproject/private
