MIDIConverter/MIDIConverter
Stratus/build/
Stratus/cert.pem
Stratus/inviter-secret
Stratus/key.pem
Stratus/Stratus
Stratus/mongodb-secret
TerminalSimulator/build/
TerminalSimulator/Programs/
TerminalSimulator/Scenes/
TerminalSimulator/Telegrams/
TerminalSimulator/Worlds/
TerminalSimulator/config-offline.dat
TerminalSimulator/config.dat
TerminalSimulator/kiamafs.dat
TerminalSimulator/Makefile
TerminalSimulator/telegrams.dat
TerminalSimulator/TerminalSimulator
TerminalSimulator/snap-*.png
.qmake.stash
*.d
*.o
*moc_*.cpp
*moc_*.h
